:root {
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navy-blue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navy-blue-modal: #2E2F42;
    --grey: #2E2F42;
    --white: #FFFFFF;
    --dairy: #FCFCFC;
}

/* Скидываем стили для всех элементов */
* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

/*Убираем точки возле текста */
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}

body {
    background-color: var(--white);
    color: var(--slate);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}


.header {
    border-bottom: 1px solid #E7E9FC;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navigation {
    display: flex;
    align-items: center;
}


/* Логотип */
.header-logo {
    margin-right: 76px;
    color: var(--iris);

    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    
}

.header-logo-accent {
    color:var(--navy-blue);
}

/* Навигация */
.navigation-list {
    display: flex;
    align-items: center;
    gap: 40px;
}


.navigation-link {
    display: inline-block;
    padding: 24px 0;
    color: var(--navy-blue);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

}

.navigation-link:hover,
.navigation-link:focus,
.navigation-link:active {
    color: var(--ocean);
}

/* Контактная информация */
.address {
    font-style: normal;
}

.address-list {
    display: flex;
    margin-left: auto;
    gap: 40px;
}

.address-link {
    color: var(--slate);  
}

.address-link:hover,
.address-link:focus,
.address-link:active {
    color: var(--ocean);
}

/* Главная секция 1-й страницы */

.hero {
    background: var(--navy-blue);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/page-1/hero-img.jpg);
}

.hero-wrap {
    padding: 188px 0;
    text-align: center;
}

.hero-title {
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
    color: var(--white);

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.hero-button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    margin: 0 auto;
    
    
    background-color: var(--iris);
    border-radius: 4px;
    color: var(--white);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

}

.hero-button:hover,
.hero-button:focus,
.hero-button:active {
    background-color: var(--ocean);
    color: var(--white);

}


/* Features */
.features-section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.features-title {
    display: none;
}

.features-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.features-list-item {
    width: calc((100% - 72px) / 4);
}

.features-list-title {
    color: var(--grey);
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

}

.features-icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background-color: var(--cloud);
    margin-bottom: 8px;
}
.features-item-icon 


 /* We doing */
.we-doing-section {
    padding-bottom: 120px;
}

.we-doing-section-title {
    margin-bottom: 72px;
    text-align: center;
}

.we-doing-list-img {
    display: flex;
    gap: 24px;
}

.we-doing-img {
    width: calc((100% - 48px) / 3);
}

/* Team-list */
.team-section {
    background-color: var(--cloud);
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-section-title {
    margin-bottom: 72px;
    text-align: center;
}

.team-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;

}

.team-card-list {
    background-color: var(--white);
    width: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.team-card-wrap {
    padding: 32px 16px;

}
.team-card-title {
    color: var(--grey);
    margin-bottom: 8px;

    font-weight: 500;
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-card-text {
    text-align: center;
    margin-bottom: 8px;
}

.team-social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--iris) ;
    width: 40px;
    height: 40px;
    border-radius: 50%; 
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: var(--ocean);
}
.team-social-icon {
    fill: var(--cloud);
}



/* Portfolio */
.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}
.portfolio-title {
    display: none;
}

/* Button Portfolio */
.portfolio-btn-list{ 
    display: flex;
    justify-content: center;
    gap: 24px;

    margin-bottom: 72px;
}

.portfolio-btn-link {
    border-radius: 4px;
    padding: 12px 24px;
    min-width: 78px;
    text-align: center;

    border: 1px solid #e7e9fc;
    background-color: var(--cloud);
    color: var(--iris);

    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.portfolio-btn-link:hover,
.portfolio-btn-link:focus {
    border: 1px solid transparent;
    background-color: var(--ocean);
    color:  var(--white);

}
 /* Portfolio list */
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    
    color: var(--grey);
    
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-link {
    padding: 24px 0;
}

.portfolio-link-wrap {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.portfolio-link-title {
    margin-bottom: 8px;
    color: var(--navy-blue);

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;   
}

.portfolio-link-text {
    color: var(--slate);

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Футер */
.footer {
    display: flex;
    align-content: center;
    gap: 120px;
    background-color: var(--grey);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo-link { 
    display: inline-block;
    color: var(--iris);
    margin-bottom: 16px;
    
    font-family: Raleway, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;

}

.footer-logo-accent {
    color: var(--cloud);
}

.footer-text {
    color: var(--cloud);
    max-width: 264px;
}

.center-wrap {
    display: flex;
    justify-content: center;
    max-width: 208px;
}

.center-wrap .footer-text {
    font-weight: 500;
}

.footer-media-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.footer-media-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--iris);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.footer-media-link:hover,
.footer-media-link:focus {
    background-color: var(--ocean);
}

.footer-media-icon {
    fill: var(--cloud);
}